.body {
    font-family: 'Space Grotesk', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    justify-content: baseline;
    height: 6em;
    font-family: 'Inter', sans-serif;
}

.links {
    display: flex;
    justify-content: space-evenly;
    justify-content: baseline;
    align-items: center;
    padding: 5em;
    text-decoration: none;
}


.name {
    position: absolute;
    left: 2em;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: xx-large;
}

.icons {
    float: right;
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3em;
    padding-bottom: 3em;
    text-decoration: none;
    background-color: rgb(240, 240, 255);
}

.project {
    /* border: 1px solid black; */
    color: black;
    font-family: 'Inter', sans-serif;
    width: 100%;
    width: 100%;
    box-shadow: inset;
    background-color: white;
}

.content {
    margin: 0.5em
}

.gif {
    display: flex;
    justify-content: center;
    border: 0.01 solid black;
    height: 12em;
    width: 90%;
    margin: 1em
}

a:link, a:visited, a:hover, a:active  {
    text-decoration: none;
    color: black;
}

.linked {
    max-width: 2em;
    max-height: 2em;
    padding: 0.5em;
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 2em;
    max-height: 2em;  
}

.readme {
    position: relative;
    height: 4em;
}

.git {
    position: relative;
    max-width: 2em;
    max-height: 2em;
    padding: 0.5em;
    bottom: 0em;
}