.body {
    font-family: 'Space Grotesk', sans-serif;
    size: 100%;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    justify-content: baseline;
    height: 7em;
    border-bottom: 1px solid black;
}

.links {
    display: flex;
    justify-content: space-evenly;
    justify-content: baseline;
    align-items: center;
    padding: 5em;
    text-decoration: none;
}


.name {
    /* display: flex;
    justify-content: space-evenly; */
    align-items: center;
    font-size: xx-large;
    align-items: left;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    padding-left: 3em;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3em;
    text-decoration: none;
}

.project {
    border: 1px solid black;
    color: black;
    height: 37em;
    width: 18em;
}

.gif {
    display: flex;
    justify-content: center;
    border: 0.01 solid black;
    height: 12em;
    width: 90%;
    margin: 1em
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.git {
    max-width: 2em;
    max-height: 2em;
    padding: 0.5em;
}

.linked {
    max-width: 2em;
    max-height: 2em;
    padding: 0.5em;
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 2em;
    max-height: 2em;
    
}

