.body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #222831;

}

.nav {  
    width: 100%;
    background-color: #222831;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    height: 4em;
    font-family: 'Inter', sans-serif;
}

#header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
}

.icons {
    float: right;
    display: flex;
    justify-content: space-evenly;
}

.sectionLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sectionLinks p {
    padding-right: 2em;

}

#fullpage {
    background-color: #222831;
}

.section {
    background-color: #222831;
}
.container {
    display: flex;
    flex-wrap: row;
    justify-content: space-evenly;
    padding-top: 3em;
    padding-bottom: 3em;
    text-decoration: none;
    background-color: #222831;
    color: #e8eef1;
}

.project {
    display: flex;
    flex-direction: row;
    color: #e8eef1;
    font-family: 'Inter', sans-serif;
    width: 100%;
    box-shadow: inset;
    background-color: #222831;   
}

.project h2 {
    /* border-top: 0; */
    font-size: 3em;
}

.aboutp {
    padding-left: 4em;
    padding-right: 4em;
}

.title h1 {
    color: #e8eef1;
    /* background-color: #2e3642; */
    font-size: 4em;
    margin-top: 0em;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


.title h3 {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #2e3642; */
    font-size: 2.5em;
    color: #e8eef1;
    overflow: hidden;
    border-right: .1em solid #222831;
    white-space: nowrap;
    animation: 
      typing 1.7s steps(20, end) forwards,
      blink 1s 4;
    width: 0;
    margin-top: 0em;
    padding-left: 1em;
    padding-right: 0em;

  }

  @keyframes typing {
    from { width: 0 }
    to { width: 97% }
  }

  @keyframes blink {
    from { border-color: transparent }
    to { border-color: #e8eef1; }
  }

.title p {
    color: #e8eef1;

}

.content-left {
    margin: 0.5em;
    padding-left: 4em;
}

.content-right {
    margin: 0.5em;
    padding-right: 4em;
}

.content-right p {
    padding-right: 6em;
}

.gif {
    display: flex;
    justify-content: right;
    float: right;
    padding-right: 4em;
    height: 20em;
    width: 50%;
    margin: 1em;
}

.gif3 {
    display: flex;
    justify-content: left;
    float: left;
    padding-left: 4em;
    height: 20em;
    width: 50%;
    margin: 1em;
}

a:link, a:visited, a:hover, a:active  {
    text-decoration: none;
    color: #e8eef1;
}

.links {
    max-width: 3em;
    max-height: 3em;
    padding: 0.5em;
    filter: brightness(50%);
}


.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 2em;
    max-height: 2em;  
}

.readme {
    position: relative;
    height: 4em;
}

.git {
    position: relative;
    max-width: 3.5em;
    max-height: 3.5em;
    padding: 0.5em;
    bottom: 0em;
}

#gitSmall {
    max-height: -0.01em;
    max-width: -0.01em;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 3em;
    padding-right: 3em;


}

.skill-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: #e8eef1;
    padding-left: 1em;
    border-top: 4em;
}

i {
    font-size: 3em;
    color: #e8eef1;
    padding: 0.2em;
}

i h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.2em;
    color: #e8eef1;
    padding-bottom: 4em;
    display: flex;
    justify-content: center;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span{
  background: #e8eef1;
}

.read {
    color: rgb(104, 104, 180) ;
}
